:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.dark{
  color: grey;
  background-color: #493843;
}

.encabezado{
  display: grid;
  place-content: center;
  background-color: orange; /* Tenemos que definir altura si o si xq si no, no da el color */
  width: 100%;
  height: 60px;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  padding: 20px;
  float: right;
  text-transform: capitalize;
  margin-bottom: 50px;
}

.encabezado ul li{
  list-style: none; /*para que no tenga viñetas*/
  display: inline-block; /*se ubican uno al lado de otra conservando la altura  */
  padding: 10px;
}
.encabezado ul li a{
  text-decoration: none; /*para quitarle el subrayado*/
  color: #fff; /*hay que darle el color directamente a los links*/
}

.encabezado a:hover{ /*hover es una pseudoclase que cada vez que paso el mouse va a tener algun tipo de apariencia */
  color: #333; /*cada vez que me posiciono sobre ese elemento va a tener un color distinto */
}